* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 2000px;
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner #bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #fff url(heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  mix-blend-mode: screen;
  transition: 0.1s;
}
