body {
  margin: 0;
  padding: 0;
  /* 글꼴을 설정하는 속성 */
  font-family: "montserrat", sans-serif;
  background-color: #000;
}

.middle {
  /* 문서의 원래 위치와 상관없이 위치를 지정 할 수 있다. 하지만 가장 가까운 부모 요소를 기준으로 위치가 결정된다. 부모 요소가 없으면 html을 기준으로 설정 된다.*/
  position: absolute;
  top: 50%;
  left: 50%;
  /* Flash and JavaScript를 사용하지 않고 요소를 애니메이션 시키거나 시각적 및 상호 작용의 효과를 풍부하게 제공.*/
  transform: translate(-50%, -50%);
}

.text {
  color: #fff;
  /* 대문자 또는 소문자로 바꾸는 속성 uppercase는 모든 글자를 대문자로 바꿉니다.*/
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  letter-spacing: 14px;
}

/* ::after DOM에 없지만, 페이지에 있는 것처럼 나타나며 가상요소, ::before 생성된 콘텐츠를 위치적으로 요소컨텐츠 보다 먼저 제공하고자 하는 경우 여기선 글자들을 겹칠때 쓰여진다?!*/
.text::before,
.text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text::before {
  color: #ff00c1;
  /* 어느 객체가 앞으로 나오고, 뒤에 나올지 배치 순서를 결정하는 속성.
    z-index: 1;*/
  animation: glitch-effect 3s infinite;
}

.text::after {
  color: #3498db;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}
